@model HandsonMVC.Models.User
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
@using (Html.BeginForm())
{
<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
        <td>@Html.ValidationMessageFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>DOB</td>
        <td>@Html.TextBoxFor(m => m.Dob, null, new { @type = "Date" })</td>
        <td>@Html.ValidationMessageFor(m => m.Dob)</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Html.TextBoxFor(m => m.Email)</td>
        <td>@Html.ValidationMessageFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td>@Html.TextBoxFor(m => m.Mobile)</td>
        <td>@Html.ValidationMessageFor(m => m.Mobile)</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>
            @*@Html.DropDownListFor(m => m.Country,
            new SelectList(new string[] { "India", "China", "USA" }))*@ @*to take values  here*@

            @Html.DropDownListFor(m => m.Country, ViewBag.Country as SelectList)
        </td> @*to take values from database*@
        <td>@Html.ValidationMessageFor(m => m.Country)</td>

    </tr>
    <tr>
        <td>Uname</td>
        <td>@Html.TextBox("Uname")</td>
        <td>@Html.ValidationMessageFor(m => m.Uname)</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Html.Password("Password")</td>
        <td>@Html.ValidationMessageFor(m => m.Password)</td>
    </tr>
   <tr>
          <td colspan="2">
          <input type="Submit" value="Register"/>
          </td>
   </tr>
</table>
}
